.desktop {
  background-color: #ececec;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #ececec;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.desktop .overlap {
  position: absolute;
  width: 1920px;
  height: 51px;
  top: 0;
  left: 0;
  background-image: url(img/header.png);
  background-size: 100% 100%;
}

.desktop .KIOSJUDI {
  position: absolute;
  width: 130px;
  height: 31px;
  top: 8px;
  left: 192px;
  object-fit: cover;
}

.desktop .chat-button {
  position: absolute;
  width: 55px;
  height: 19px;
  top: 14px;
  left: 1672px;
}

.desktop .overlap-group {
  position: absolute;
  width: 416px;
  height: 651px;
  top: 176px;
  left: 192px;
  background-color: #d9d9d9;
  border-radius: 20px;
}

.desktop .text-wrapper {
  position: absolute;
  top: 14px;
  left: 15px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-1 {
  position: absolute;
  top: 162px;
  left: 15px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .chat-ico {
  position: absolute;
  width: 17px;
  height: 18px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 162px;
  left: 15px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .Liveball-container {
  position: absolute;
  top: 200px;
  left: 15px;
  width: 385px;
  height: 437px;
  border-radius: 12px;
  overflow: hidden;
  background-color: white;
}

.desktop .Liveball-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.desktop .untitled {
  left: 15px;
  position: absolute;
  width: 121px;
  height: 102px;
  top: 46px;
  object-fit: cover;
}

.desktop .img {
  left: 147px;
  position: absolute;
  width: 121px;
  height: 102px;
  top: 46px;
  object-fit: cover;
}

.desktop .untitled-2 {
  left: 279px;
  position: absolute;
  width: 121px;
  height: 102px;
  top: 46px;
  object-fit: cover;
}

.desktop .overlap-2 {
  position: absolute;
  width: 1086px;
  height: 62px;
  top: 532px;
  left: 644px;
}

.desktop .group {
  position: absolute;
  width: 1086px;
  height: 62px;
  top: 0;
  left: 0;
}

.desktop .div-wrapper {
  position: relative;
  width: 1084px;
  height: 62px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 20px;
  left: 27px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .promosi-event-situs {
  position: absolute;
  top: 20px;
  left: 26px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-3 {
  position: absolute;
  width: 416px;
  height: 49px;
  top: 113px;
  left: 192px;
  background-color: #ff4800;
  border-radius: 20px;
}

.desktop .overlap-4 {
  position: absolute;
  width: 306px;
  height: 36px;
  top: 7px;
  left: 101px;
  background-color: #e5e5e5;
  border-radius: 15px;
}

.desktop .text-wrapper-4 {
  position: absolute;
  width: 279px;
  top: 10px;
  left: 14px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #00000080;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 16px;
  left: 27px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-wrapper {
  position: absolute;
  width: 1086px;
  height: 62px;
  top: 374px;
  left: 644px;
}

.desktop .overlap-group-wrapper {
  position: absolute;
  width: 1086px;
  height: 62px;
  top: 453px;
  left: 644px;
}

.desktop .group-2 {
  position: absolute;
  width: 1086px;
  height: 62px;
  top: 611px;
  left: 644px;
}

.desktop .text-wrapper-6 {
  position: absolute;
  top: 93px;
  left: 655px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #00000066;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame {
  width: 1083px;
  height: 248px;
  top: 113px;
  left: 644px;
  overflow: hidden;
  position: absolute;
  border-radius: 25px;
}

.desktop .component-wrapper {
  height: 247px;
  background-color: #d9d9d9;
  border-radius: 25px;
}

.desktop .component {
  width: 1083px;
  height: 247px;
  overflow: hidden;
}

.desktop .group-3 {
  position: relative;
  width: 4446px;
  height: 247px;
}

.desktop .rectangle {
  left: 0;
  position: absolute;
  width: 1083px;
  height: 247px;
  top: 0;
  border-radius: 25px;
}

.desktop .rectangle-2 {
  left: 1121px;
  position: absolute;
  width: 1083px;
  height: 247px;
  top: 0;
  background-color: #d9d9d9;
  border-radius: 25px;
}

.desktop .rectangle-3 {
  left: 2242px;
  position: absolute;
  width: 1083px;
  height: 247px;
  top: 0;
  background-color: #d9d9d9;
  border-radius: 25px;
}

.desktop .rectangle-4 {
  left: 3363px;
  position: absolute;
  width: 1083px;
  height: 247px;
  top: 0;
  background-color: #d9d9d9;
  border-radius: 25px;
}

.desktop .frame-2 {
  width: 1084px;
  height: 137px;
  top: 690px;
  left: 643px;
  background-image: url(img/banner-bawah.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  border-radius: 25px;
}
